@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Handlee&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handlee", cursive;
}
:root{
    --cicle: 45px;
}

html, body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 23rem);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.item1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: hsl(263, 55%, 52%);
    color: white;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 35rem 0rem;
}

.item2{
   grid-column: 3/4;
    grid-row: 1/2;
    background-color:  hsl(217, 19%, 35%);
    color: white;
}
.item3{
   grid-column: 4/5;
   grid-row: 1/3;
   background-color: white; 
}
.item4{
   grid-column: 1/2;
   background-color: white; 
}
.item5{
   grid-column: 2/4;
    background-color: yellow; 
    background-color: hsl(219, 29%, 14%);
    color: white;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 5px 5px 50px -10px  hsl(0, 0%, 7%);
    font-size: 1.2rem;
}
.infosContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.image{
    width: var(--cicle);
    height: var(--cicle);
    border-radius: 50%;
    border: 1px solid black;

}
#daniel{
    background-image: url('./images/image-daniel.jpg');
}

#Jonathan{
    background-image: url('./images/image-jonathan.jpg');
}
#kiria{
    background-image: url('./images/image-kira.jpg');
}
#Jeanette{
    background-image: url('./images/image-jeanette.jpg');
}
#Patrick{
    background-image: url('./images/image-patrick.jpg');
}
#daniel, #Jonathan, #kiria, #Jeanette, #Patrick{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grey{
    color: hsl(224, 10%, 45%);
}
.name{
    font-size: 1.5rem;
}
.informations>span, .description{
    font-family: "Barlow Semi Condensed", sans-serif;
}
.description{
    font-size: 2rem;
    font-weight: 600;
}
.description+span{
    font-weight: 500;
}

@media (max-width: 576px) {
  .gridContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item{
        width: 80%;
    }
    .description{
        font-size: 1.2rem;
        font-weight: 600;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
  .gridContainer{
    padding: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: yellow; 
    }
    .item3{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .item4{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 2/4;
        grid-row: 2/3;
    }
}
