@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Handlee&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handlee", cursive;
}
:root{
    --cicle: 20px;
}

html, body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.item1{
    grid-column: 1/3;
    grid-row: 1/2;
}

.item2{
   grid-column: 3/4;
    grid-row: 1/2;
    background-color: yellow; 
}
.item3{
   grid-column: 4/5;
   grid-row: 1/3;
   background-color: red; 
}
.item4{
   grid-column: 1/2;
   background-color: red; 
}
.item5{
   grid-column: 2/4;
    background-color: yellow; 
}
.item{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.infosContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.image{
    width: var(--cicle);
    height: var(--cicle);
    border-radius: 50%;
    border: 1px solid black;

}
.description{
    font-size: 1.7rem;
}
.image>image{
    width: var(--cicle);
    height: var(--cicle);
    
}

@media (max-width: 576px) {
  .gridContainer{
        display: flex;
        flex-direction: column;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
  .gridContainer{
    padding: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: yellow; 
    }
    .item3{
        grid-column: 1/-1;
        grid-row: 3/4;
        background-color: red; 
    }
    .item4{
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: red; 
    }
    .item5{
        grid-column: 2/4;
        grid-row: 2/3;
        background-color: yellow; 
    }
}
