*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

span{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    
}

#p1{
    animation: charge 2s ease-out infinite;
}
#p2{
    animation: charge 2s 200ms ease-out infinite ;
}
#p3{
    animation: charge 2s 400ms ease-out infinite ;
}
#p4{
    animation: charge 2s 600ms ease-out infinite ;
}


@keyframes charge {
    0%{

    }

    50%{
        transform: translateY(-50px);
    }

    100%{
        transform: translateY(0px);
    }
}