@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl(204, 43%, 93%);
    font-size: 16px;
    font-family: "Karla", sans-serif;
    padding: 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "item1"
        "item2"
        "item3";
    max-width: 650px;
   
}

main div{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.item1{
    grid-area: item1;
    background-color: white;
}
.item1 h2{
    color: hsl(179, 62%, 43%);
}
.item1 span{
    color: hsl(71, 73%, 54%);
    font-size: 1.3rem;
}
.item1 p{
    color: hsl(218, 22%, 67%);
}
.item2{
    grid-area: item2;
    background-color: hsl(179, 47%, 38%);
    color: white;
}
.item3{
    grid-area: item3;
    background-color:  hsl(179, 62%, 43%);
    color: white;
    text-align: left;
    
}

button{
    height: 3rem;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
}
.item2 p{
    display: flex;
    align-items: center;
}
#des{
    margin-top: 0.7rem;
}
#money{
    color: hsl(218, 22%, 67%);
}

#money span{
    font-size: 2rem;
    font-weight: 500;
    margin-right: 0.5rem;
    color: white;
}

@media screen and (min-width: 767px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "item1 item1"
            "item2 item3";
    }
    .item3 p{
        width: 190px;
        line-height: 1.4rem;
        font-size: 0.99rem;
    }
}
