*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    animation: rotate 2s infinite;
    opacity: .8;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.download::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    z-index: -1;
    animation: rotate 2s  infinite;
}

@keyframes rotate {
    0%{
        scale: 1;
        opacity: .8;
    }

    50%{
        scale: 1.5;
        opacity: .5;
    }
    
   
}