*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    display: flex;
    
}
.container{
    padding: 2rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-image: url('./images/bg-mobile.svg');
    background-repeat: repeat-y;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}
header{
    width: 100%;
    display: flex;
    align-items: start;
}
header img{
    max-width: 50%;
}
.hero{
    height: 89%;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   
}
.sonHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.hero img{
    max-width: 100%;
}

.explan{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1, p{
    text-align: center;
    color: white;
}
p{
    font-weight: 400;
    font-size: 1.2rem;
}
button{
    padding: 1rem 6rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social-media div{
    width: 30px;
    height: 30px;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button:hover , .social:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
   .container{
        gap: 3rem;
        padding: 5rem 10rem;
        background-image: url('./images/bg-desktop.svg');
   }
   .sonHero{
        flex-direction: row;
        gap: 2rem;
   } 
   h1{
    font-size: 3vw;
   }

   h1, p{
    text-align: left;
   }
   .sonHero img{
        width: 55%;
    }
    .social-media{
        justify-content: end;
    }
    .explan{
        width: 45%;
        align-items: start;
    }
}